.App {
  text-align: center;
  min-height: 100vh;
  width: 90vw;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.App .theft {
  border-radius: 24px;
  padding: 15px;
  background-color: #e41414;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 700;
  animation: blink 0.5s ease-in-out infinite;
}

.title {
  width: 100%;
}

@keyframes blink{
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
